<div class="jumbotron">
  <h1>Mundum Expense Tracker</h1>
</div>

<div>
  <ul class="fields-list">
    <%= for field <- @fields do %>
        <li>
        	<%= link String.capitalize(naive_pluralize(field)), to: path_for_item(@conn, field, :index), class: "field-title" %>
        	<%= link "Add", to: path_for_item(@conn, field, :new), class: "addlink" %>
        </li>
    <% end %>
</ul>
</div>
